@import "./variables.scss";

.shared-object__wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  .shared-object__input {
    background-color: #fff;
    padding: 17px;
    margin-right: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.0625rem;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
  }

  .shared-object__input input {
    border: none; //цвет рамки
    padding: 0;
    font-weight: 500;
    font-family: $main_font_family;
    color: $main_font_color;
    background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
    outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
    height: 24px;

    &::placeholder {
      color: rgb(160, 160, 160);
    } // высота на свое усмотрение
  }

  .shared-object__devidable {
    color: #2d9cdb;
    margin-right: 5px;
    font-weight: 400;
    cursor: pointer;
    background-color: #fff;
    padding: 17px;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    //font-weight: 500;
    font-size: 1.0625rem;
    transition: 0.3s;
    border: none;
  }

  .shared-object__delete-btn {
    display: flex;
    padding: 0;
    width: 53px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.0625rem;

    transition: 0.3s;
    border: none;
  }
}
